@import url(http://fonts.googleapis.com/css?family=Averia+Sans+Libre:400,700);
.reveal {
  border: 2px solid black;
  height: 120px;
  width: 80px;
  border-radius: 5px;
  background-color: cornsilk;
  background-size: 80px 120px;
  box-shadow: 2px 2px 3px 3px;
  text-align: center;
  font-size: 60px;
  font-family: 'Averia Sans Libre', cursive;
  vertical-align: middle;
  line-height: 100px;
}
#timer {
  margin: auto;
  width: 100px;
  background-color: #64e764;
  border-radius: 30px;
  border: 5px solid black;
  text-align: center;
  box-shadow: 0px 0px 10px 5px lightslategrey inset;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  font-size: 40px;
  font-family: 'Averia Sans Libre', cursive;
  color: white;
  margin-top: 25px;
  margin-bottom: 25px;
}
.hidden {
  visibility: hidden;
}
.matched {
  box-shadow: 2px 2px 10px 10px lightskyblue;
  background-color: lightsalmon;
  border: 2px solid yellow;
}
.cards {
  border: 2px solid black;
  height: 120px;
  width: 80px;
  border-radius: 5px;
  background-image: url('../media/CardBack.jpg');
  background-size: 80px 120px;
  box-shadow: 2px 2px 3px 3px;
}
table {
  border-collapse: separate;
  border-spacing: 20px;
  margin: auto;
}
h1 {
  text-align: center;
  color: paleturquoise;
  text-shadow: 2px 2px lightslategrey;
  font-size: 2.5em;
  font-family: 'Averia Sans Libre', cursive;
}
#wrapButtons {
  margin: auto;
  width: 550px;
  background-color: lightgreen;
  border-radius: 30px;
  border: 10px solid black;
  text-align: center;
  box-shadow: 0px 0px 10px 5px lightslategrey inset;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}
td:hover {
  box-shadow: 2px 2px 5px 5px;
}
button {
  margin: 30px;
  height: 60px;
  width: 175px;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 0px 0px 3px 4px lightslategrey inset;
  background-color: paleturquoise;
  font-size: 2em;
  text-align: center;
  color: black;
  font-weight: bold;
  font-family: 'Averia Sans Libre', cursive;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}
button:hover {
  background-color: paleturquoise;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}
body {
  background-color: lightseagreen;
}
table {
  border: 10px solid black;
  border-radius: 50px;
  background-color: lightslategrey;
  box-shadow: 0px 0px 10px 5px lightgreen inset;
}
/* #somediv {
background-color: BADA55;
.quick-gradient(top, 0.2);
                            }*/
