doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Memory Game
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='js/vendor/jquery.js')
    script(src='js/source/main.js')
  body
    #header
      h1 Can You Remember?
    #wrapButtons
      button#play PLAY
      button#clear CLEAR
    #spacer
    #wrapCards
      table
        thead
        tfoot
        tbody
          tr
            td#a0.cards
            td#a1.cards
            td#a2.cards
            td#a3.cards
            td#a4.cards
          tr
            td#a5.cards
            td#a6.cards
            td#a7.cards
            td#a8.cards
            td#a9.cards
          tr
            td#a10.cards
            td#a11.cards
            td#a12.cards
            td#a13.cards
            td#a14.cards
          tr
            td#a15.cards
            td#a16.cards
            td#a17.cards
            td#a18.cards
            td#a19.cards
